body {
  margin: 0;
  padding: 0px;
}
body .title-bar {
  background-color: orange;
  color: white;
  text-align: center;
  padding-top: 5px;
  min-height: 75px;
  vertical-align: middle;
  font: 900 50px serif;
  letter-spacing: 5px;
}
body .nav-bar-header {
  position: sticky;
  top: 0;
  right: 0;
}
body .nav-bar-header .nav-list {
  list-style-type: none;
  background-color: white;
  width: 100%;
  padding: 0px;
  margin: 0;
  display: inline-block;
}
body .nav-bar-header .nav-list li {
  display: inline-flex;
  min-width: 24%;
}
body .nav-bar-header .nav-list li a {
  color: black;
  text-align: center;
  padding: 14px 120px 16px;
  text-decoration: none;
}
body .nav-bar-header .nav-list li:hover {
  background-color: DodgerBlue;
  color: white;
}
body .nav-bar-header .nav-list li:visited {
  background-color: DodgerBlue;
}
body .cities {
  float: left;
  margin: 0;
  width: 220px;
  height: 500px;
}
body .article-sec {
  border-left: 1px solid gray;
  padding: 1em;
  max-width: 700px;
  height: 500px;
  display: inline-block;
  background-image: url('img_6_india_flag.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  font-weight: bold;
}
body .black-border {
  border: 1px solid black;
}
body .img-dimensions {
  width: 100%;
  height: 100%;
}
body .aside-section {
  float: right;
  width: 300px;
  height: 260px;
}
body ul.symbols-list {
  list-style-type: circle;
}
body .cities div {
  width: 100%;
  height: 40px;
  text-align: center;
  padding-top: 20px;
  margin: 0;
  background-color: Linen;
  clear: both;
}
body .cities div a {
  text-decoration: none;
}
body .cities div:hover {
  background-color: DodgerBlue;
}
body .font-style {
  text-align: center;
  padding-top: 5px;
  font-weight: bold;
}
body table {
  border-collapse: collapse;
  width: 100%;
}
body table caption {
  font-weight: bold;
  padding: 5px;
}
body table tr {
  height: 30px;
}
body table tr td {
  text-align: left;
}
body table tr:nth-child(odd) {
  background-color: #f2f2f2;
}
body .footer {
  background-color: white;
  color: blue;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  position: sticky;
  bottom: 0;
  left: 0;
  width: auto;
  margin: 0;
  right: 0;
}
